$primary-color: #3f51b5
$primary-dark: #283593

.navbar-default
    background-color: $primary-color
    margin-bottom: 0px
    border-bottom: none
    & *
        color: white !important
    li
        a:hover
            text-decoration: underline
    .navbar-toggle
        background: transparent
        .icon-bar
            background-color: white
        &:hover
            background-color: $primary-dark
.carousel-indicators
    position: inherit
    bottom: 0px
    li
        border: 2px solid #999
        height: 15px
        width: 15px
        &.active
            height: 18px
            width: 18px
            background-color: $primary-color
/* Portada
.header-portada-bg
    background-image: url('../images/portada.png')
    background-position: center
    background-size: cover
    .header-portada
        padding-top: 100px
        background: rgba(0,0,0,0.5)
        min-height: 400px
        color: white
        p
            font-size: 2em
        .form-signin
            background-color: white
            -webkit-border-radius: 5px
            -moz-border-radius: 5px
            border-radius: 5px
            padding: 10px 10px 5px 10px
            color: #333
            div.forget
                padding-top: 5px
.xs-center
    text-align: center
.xs-left
    text-align: left
.xs.right
    text-align: right
h1
    font-size: 21px
h2
    font-size: 18px
h3
    font-size: 15px
h4
    font-size: 14px
h5
    font-size: 12px
h6
    font-size: 11px
p
    font-size: 11px
@media screen and (min-width: 480px)
    h1
        font-size: 26px
    h2
        font-size: 22px
    h3
        font-size: 18px
    h4
        font-size: 15px
    h5
        font-size: 12px
    h6
        font-size: 11px
    p
        font-size: 11px
    .sm-center
        text-align: center
    .sm-left
        text-align: left
    .sm-right
        text-align: right
@media screen and (min-width: 720px)
    h1
        font-size: 31px
    h2
        font-size: 26px
    h3
        font-size: 21px
    h4
        font-size: 16px
    h5
        font-size: 13px
    h6
        font-size: 12px
    p
        font-size: 12px
    .md-center
        text-align: center
    .md-left
        text-align: left
    .md-right
        text-align: right
@media screen and (min-width: 1200px)
    h1
        font-size: 36px
    h2
        font-size: 30px
    h3
        font-size: 24px
    h4
        font-size: 18px
    h5
        font-size: 14px
    h6
        font-size: 12px
    p
        font-size: 14px
    .lg-center
        text-align: center
    .lg-left
        text-align: left
    .lg-right
        text-align: right
