doctype html
html(ng-app='Prueba')
  head
    script(src='/javascripts/angular.js')
    script(src='/javascripts/angular-animate.js')
    script(src='/javascripts/angular-bootstrap.js')
    script(src='/javascripts/prueba.js')
    title {{ "Aprendiendo Angular" }}
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
  body
    div(ng-controller="InvoiceController as invoice")
      b Invoice:
      div
        b Quantity: 
        input(type="number", min="0", ng-model="invoice.qty", required)
      div
        b Costs:
        input(type="number", min="0", ng-model="invoice.cost", required)
        select(ng-model="invoice.inCurr")
          option(ng-repeat="c in invoice.currencies") {{c}}
      div
        b Total:
        span(ng-repeat="c in invoice.currencies") {{ invoice.total(c) | currency:c }}
        button(class="btn", ng-click="invoice.pay()") Pay

    
