extends layout

block content
    div(class='container')
        div(class='row')
            div(class='col-xs-12')
                h1(class='text-center page-header') Así es como funciona UVA
                div(class='conteiner-fluid post-space hidden-xs hidden-sm')
                    div(class='row')
                        div(class='col-xs-12 col-sm-6')
                            h2(class='post-space') Inicia sesión
                            form(class='form-horizontal')
                                div(class='form-group')
                                    label(for='txt-correo', class='control-label col-sm-3') Correo
                                    div(class='col-sm-9')
                                        input(
                                            id='txt-correo',
                                            type='email',
                                            class='form-control input-sm'
                                            )/
                                div(class='form-group')
                                    label(for='txt-password', class='control-label col-sm-3') Contraseña
                                    div(class='col-sm-9')
                                        input(
                                            id='txt-password',
                                            type='password',
                                            class='form-control input-sm'
                                            )/
                                div(class='form-group')
                                    div(class='col-sm-9 col-sm-offset-3')
                                        button(
                                            type='submit',
                                            class='btn btn-primary'
                                            ) Iniciar sesión
                        div(class='col-xs-12 col-sm-6')
                            h2(class='post-space') Regístrate
                            form(class='form-horizontal')
                                div(class='form-group')
                                    label(for='txt-nombre', class='control-label col-sm-3') Nombre
                                    div(class='col-sm-9')
                                        input(
                                            id='txt-nombre',
                                            type='text',
                                            class='form-control input-sm'
                                            )/
                                div(class='form-group')
                                    label(for='txt-apellidos', class='control-label col-sm-3') Apellidos
                                    div(class='col-sm-9')
                                        input(
                                            id='txt-apellidos',
                                            type='text',
                                            class='form-control input-sm'
                                            )/
                                div(class='form-group')
                                    label(for='txt-correo', class='control-label col-sm-3') Correo
                                    div(class='col-sm-9')
                                        input(
                                            id='txt-correo',
                                            type='email',
                                            class='form-control input-sm'
                                            )/
                                div(class='form-group')
                                    label(for='txt-password', class='control-label col-sm-3') Contraseña
                                    div(class='col-sm-9')
                                        input(
                                            id='txt-password',
                                            type='password',
                                            class='form-control input-sm'
                                            )/
                                div(class='form-group')
                                    div(class='col-sm-9 col-sm-offset-3')
                                        button(
                                            type='submit',
                                            class='btn btn-primary'
                                            ) Registrarme                                
                div(class='container-fluid')
                    div(class='row post-space')
                        div(class='col-xs-12 col-md-7 col-md-push-5 xs-right')
                            div(class='post-space')
                                h2
                                    span(class='uva-title uva-title-left') 1. Busca un psicólogo
                            p.
                                Busca entre todos nuestros profesionales, el que <strong>mejor se adapte</strong> a tus necesidades,
                                según su especialidad, si no sabes qué especialista te debe tratar, puedes acceder a
                                una sesión de <strong>orientación completamente gratis</strong>.
                            p.
                                Además, existe una serie de criterios que utilizamos para <strong>calificar a un psicólogo</strong>, y mostrarte
                                los resultados de tu búsqueda por relevancia, de esta forma, siempre te presentamos a <strong>los mejores 
                                psicólogos</strong> de nuestra plataforma, garantizándote la <b>calidad</b> de nuestros 
                                profesionales, exigiéndoles lo mejor.
                        div(class='col-xs-12 col-md-5 col-md-pull-7')
                            img(src='/images/videoconference.png', class='img-responsive')
                    div(class='row post-space')
                        div(class='col-xs-12 col-md-7')
                            div(class='post-space')
                                h2
                                    span(class='uva-title uva-title-right') 2. Separa la cita
                            p.
                                Cuando ya hayas elegido a un profesional para tu terapia o sesión, se te mostrará
                                el <strong>cronograma de disponibilidad</strong> del psicólogo, con lo que podrás <strong>separar tu cita</strong>.
                                En cuanto separes la cita, automáticamente quedará reservada.
                            p.
                                Debes esperar que el psicólogo <strong>acepte atender tu consulta</strong> en la fecha y hora indicadas.
                                <strong>Recibirás una notificación</strong> por correo y a través de la plataforma en la que se te indica si el
                                psicólogo aceptó. De ser así, deberás pagar el monto correspondiente <strong>antes del inicio de la sesión</strong>.
                        div(class='col-xs-12 col-md-5')
                            img(src='/images/videoconference.png', class='img-responsive')
                    div(class='row post-space')
                        div(class='col-xs-12 col-md-7 col-md-push-5 xs-right')
                            div(class='post-space')
                                h2
                                    span(class='uva-title uva-title-left') 3. Participa de la sesión
                            p.
                                Tan sólo debes <strong>conectarte a la hora indicada</strong> y empezar la sesión, 
                                puedes comunicarte con el psicólogo de la forma <strong>más cómoda</strong> para ti: chateando, por llamada de voz
                                o por videollamada. <strong>¡Tú eliges!</strong>
                            p.
                                No olvides que todos los consejos que te da el psicólogo y el material que comparta contigo como
                                lecturas y demás, quedarán <strong>almacenados</strong> para que tú (<strong>y sólo tú</strong>)
                                tengas acceso en cualquier momento una vez haya terminado la sesión.
                        div(class='col-xs-12 col-md-5 col-md-pull-7')
                            img(src='/images/videoconference.png', class='img-responsive')
