extends layout

block content
    div(class='header-portada-bg post-space')
        div(class='header-portada')
            div(class='container')
                div(class='row')
                    div(class='col-md-7')
                        p(class='xs-center md-left').
                            <strong>Caerse</strong> mil veces y <strong>levantarse</strong> de nuevo,
                            <br>
                            en eso consiste la <strong>vida</strong>.
                    div(class='col-md-5 hidden-xs hidden-sm')
                        form(class='form-horizontal form-signin')
                            div(class='form-group')
                                div(class='col-xs-12')
                                    input(id='email', name='email', class='form-control', type='email', required='', placeholder='Correo')
                            div(class='form-group')
                                div(class='col-xs-6')
                                    input(id='password', name='password', class='form-control', type='password', required='', placeholder='Contraseña')
                                div(class='col-xs-6')
                                    button(type='submit', class=' col-xs-12 btn btn-primary') Iniciar sesión
                            div(class='form-group')
                                div(class='col-lg-6')
                                    div(class='checkbox')
                                        label
                                            input(type='checkbox')
                                            span No cerrar sesión
                                div(class='col-lg-6')
                                    div(class='forget')
                                        a(href='#') Olvidé mi contraseña
    div(class='container')
        div(class='row')
            div(class='col-xs-12')
                h1(class='text-center title') Uva, la plataforma de psicología on-line
    div(class='portada-slider')
        div(class='container')
            div(class='row')
                div(class='col-xs-12')
                    div(ng-controller="CarouselPacientes", id='ventajas-paciente')                        
                        uib-carousel(interval="myInterval")
                            uib-slide(ng-repeat="slide in slides", active="slide.active")
                                div(class='col-sm-6')
                                    img(ng-src="{{slide.image}}", class='img-responsive')
                                div(class='col-sm-6 xs-center sm-left')
                                    h3(class='post-space') {{slide.title}}
                                    p(ng-bind-html="slide.text | sanitize")
    div(class='bg-grey xs-center section post-space')
        a(href='#', class='btn btn-primary') <i class='fa fa-search'></i> Buscar psicólogos
    section
        div(class='container')
            div(class='row')
                div(class='col-xs-12')
                    h2(class='xs-center post-space') Además, puedes acceder a nuestros servicios gratuitos
            div(class='row equal')
                article(class='col-xs-12 col-lg-4 article')
                    div(class='col-sm-6 col-sm-push-6 col-lg-12 col-lg-push-0')
                        img(src='/images/videoconference.png', class='img-responsive')
                    div(class='col-sm-6 col-sm-pull-6 col-lg-12 col-lg-pull-0 xs-center sm-left lg-center')
                        h3(class='post-space') Orientación
                        p.
                            No todos los psicólogos te pueden ayudar en todos tus problemas. 
                            Para ello, los profesionales se especializan en diferentes ramas de la psicología, 
                            según los tipos de problemas a tratar. <br><br>
                            <b>¿No sabes a qué especialista contactar?</b> <br><br>
                            Nosotros de ayudamos, puedes solicitar orientación gratuita antes de acceder a una cita o terapia.
                        a(href='#', class='btn btn-primary') Solicitar
                article(class='col-xs-12 col-lg-4 bg-grey article')
                    div(class='col-sm-6 col-lg-12')
                        img(src='/images/videoconference.png', class='img-responsive')
                    div(class='col-sm-6 col-lg-12 xs-center sm-left lg-center')
                        h3(class='post-space') Charlas
                        p.
                            Accede a nuestras charlas gratuitas sobre temas de interés general, dictados por reconocidos 
                            psicólogos a nivel regional y nacional.<br><br>
                            Mantente al tanto, siempre serán temas de actualidad, 
                            que ayudarán en tu superación personal y en tu quehacer diario.
                        a(href='#', class='btn btn-primary') Ver programación
                article(class='col-xs-12 col-lg-4 article')
                    div(class='col-sm-6 col-sm-push-6 col-lg-12 col-lg-push-0')
                        img(src='/images/videoconference.png', class='img-responsive')
                    div(class='col-sm-6 col-sm-pull-6 col-lg-12 col-lg-pull-0 xs-center sm-left lg-center')
                        h3(class='post-space') Foro
                        p.
                            Si tienes alguna duda en particular, puedes recurrir a nuestro foro, en el que 
                            todos los usuarios intentarán ayudarte contándote sus experiencias o dándote algunos consejos.<br><br>
                            Siempre es bueno escuchar las opiniones de las demás personas, ya que te ofrecerán otro punto de vista.
                        a(href='#', class='btn btn-primary') Ir al foro
    section(class='bg-grey section')
        div(class='container')
            div(class='row')
                div(class='col-xs-12')
                    h2(class='xs-center post-space') ¿Eres un profesional de psicología?
            div(class='row')
                div(class='col-xs-12')
                    div(ng-controller="CarouselPsicologo", id='ventajas-psicologo')                        
                        uib-carousel(interval="myInterval")                            
                            uib-slide(ng-repeat="slide in slides", active="slide.active")
                                div(class='col-sm-6')
                                    img(ng-src="{{slide.image}}", class='img-responsive')
                                div(class='col-sm-6 xs-center sm-left')
                                    h3(class='post-space') {{slide.title}}
                                    p(ng-bind-html="slide.text | sanitize")
