doctype html
html(ng-app='App')
  head
    script(src='/javascripts/angular.js')
    script(src='/javascripts/angular-animate.js')
    script(src='/javascripts/angular-bootstrap.js')
    script(src='/javascripts/main.js')
    title Uva | Plataforma de psicología on-line
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.min.css')
  body
    header
        nav(class='navbar navbar-default navbar-static-top', ng-controller="Collapse")
            div(class='container')
                div(class='navbar-header')
                    button(type='button', class='navbar-toggle collapsed', ng-click='isCollapsed = !isCollapsed')
                        span(class='icon-bar')
                        span(class='icon-bar')
                        span(class='icon-bar')
                    a(class='navbar-brand', href='#') LOGO
                div(class='collapse navbar-collapse', uib-collapse="!isCollapsed", id='menu')
                    ul(class='nav navbar-nav')
                        li
                            a(href='/') Inicio
                        li
                            a(href='/funcionamiento') Cómo funciona
                        li
                            a(href='/info-psicologos') Información para psicólogos
                        li
                            a(href='/blog') Blog
    section(class='contenido')
        block content
    footer
        div(class='container')
            div(class='row')
                div(class='col-sm-6 xs-center sm-left')
                    h4 Mapa de Sitio
                    ul
                        li
                            a(href='/') Inicio
                        li
                            a(href='/funcionamiento') Cómo funciona
                        li
                            a(href='/info-psicologos') Psicólogos
                        li
                            a(href='#') Blog
                div(class='col-sm-6 xs-center sm-right')
                    h4 Enlaces de interés
                    ul
                        li
                            a(href='#') Aviso Legal
                        li
                            a(href='#') Condiciones de Privacidad
                        li
                            a(href='#') Política de Cookies
                        li
                            a(href='#') Condiciones Generales
            div(class='row')
                div(class='col-xs-12 xs-center sm-left')
                    span Desarrollado y mantenido por Edder Sánchez
    block scripts
