<li ng-class="{ active: isActive(slide) }" ng-click="select(slide)">
  <span class="sr-only">slide {{ $index + 1 }} of {{ slides.length }}<span ng-if="isActive(slide)">, currently active</span></span>
</li>
