<div ng-mouseenter="pause()" ng-mouseleave="play()" class="carousel" ng-swipe-right="prev()" ng-swipe-left="next()">
  <div class="carousel-inner" ng-transclude></div>
  <ol class="carousel-indicators" ng-show="slides.length > 1">
      <li ng-repeat="slide in slides" ng-class="{ active: isActive(slide) }" ng-click="select(slide)">
        <span class="sr-only">slide {{ $index + 1 }} of {{ slides.length }}<span ng-if="isActive(slide)">, currently active</span></span>
      </li>
  </ol>
</div>
