$primary-color: #3f51b5
$primary-dark: #283593

body
    footer
        background-color: #333
        color: white
        ul
            list-style: none
            padding: 0px
            li
                a
                    color: white
    section.contenido
        min-height: 600px
h1, h2, h3, h4, h5, h6
    margin: 0
    font-weight: bold
.bg-grey
    background-color: #f2f2f2
.navbar-default
    background-color: $primary-color
    margin-bottom: 0px
    border-bottom: none
    & *
        color: white !important
    li
        a:hover
            text-decoration: underline
    .navbar-toggle
        background: transparent
        .icon-bar
            background-color: white
        &:hover
            background-color: $primary-dark
img
    margin-bottom: 20px
#ventajas-paciente, #ventajas-psicologo
    .carousel-inner
        margin-bottom: 20px
    .carousel-indicators
        position: inherit
        bottom: 0px
        li
            border: 2px solid #999
            height: 15px
            width: 15px
            &.active
                height: 18px
                width: 18px
                background-color: $primary-color
.section
    padding: 50px 0px
.article
    padding: 20px 0px
.equal, .equal > div[class*='col-']
    @media (min-width: 1200px)
        display: -webkit-box
        display: -webkit-flex
        display: flex
        flex: 1 0 auto
/* Portada
.header-portada-bg
    background-image: url('../images/portada.png')
    background-position: center
    background-size: cover
    .header-portada
        padding-top: 100px
        background: rgba(0,0,0,0.5)
        min-height: 400px
        color: white
        p
            font-size: 2em
        .form-signin
            background-color: white
            -webkit-border-radius: 5px
            -moz-border-radius: 5px
            border-radius: 5px
            padding: 10px 10px 5px 10px
            color: #333
            div.forget
                padding-top: 5px
.post-space
    margin-bottom: 30px

.func-paso
    img
        max-width: 100px
        @media screen and (min-width: 480px)
            max-width: 300px
/* Funcionamiento
.uva-title
    background-color: $primary-color
    color: white
    padding-left: 20px
    padding-right: 20px
.uva-title.uva-title-left
    -moz-border-top-left-radius: 50px
    -moz-border-bottom-left-radius: 50px
    -webkit-border-top-left-radius: 50px
    -webkit-border-bottom-left-radius: 50px
    border-top-left-radius: 50px
    border-bottom-left-radius: 50px
.uva-title.uva-title-right
    -moz-border-top-right-radius: 50px
    -moz-border-bottom-right-radius: 50px
    -webkit-border-top-right-radius: 50px
    -webkit-border-bottom-right-radius: 50px
    border-top-right-radius: 50px
    border-bottom-right-radius: 50px
.title
    margin: 50px 0px
.xs-center
    text-align: center
.xs-left
    text-align: left
.xs-right
    text-align: right
h1
    font-size: 21px
h2
    font-size: 18px
h3
    font-size: 15px
h4
    font-size: 14px
h5
    font-size: 12px
h6
    font-size: 11px
p
    font-size: 11px
@media screen and (min-width: 480px)
    h1
        font-size: 26px
    h2
        font-size: 22px
    h3
        font-size: 18px
    h4
        font-size: 15px
    h5
        font-size: 12px
    h6
        font-size: 11px
    p
        font-size: 12px
    .sm-center
        text-align: center
    .sm-left
        text-align: left
    .sm-right
        text-align: right
@media screen and (min-width: 720px)
    h1
        font-size: 31px
    h2
        font-size: 26px
    h3
        font-size: 21px
    h4
        font-size: 16px
    h5
        font-size: 13px
    h6
        font-size: 12px
    p
        font-size: 14px
    .md-center
        text-align: center
    .md-left
        text-align: left
    .md-right
        text-align: right
@media screen and (min-width: 1200px)
    h1
        font-size: 36px
    h2
        font-size: 30px
    h3
        font-size: 24px
    h4
        font-size: 18px
    h5
        font-size: 14px
    h6
        font-size: 12px
    p
        font-size: 16px
    .lg-center
        text-align: center
    .lg-left
        text-align: left
    .lg-right
        text-align: right
